.fas {
    font-weight: 600;
    padding: 10px 20px;
}

.nav-link {
    display: inline;
    font-weight: 100;
}

.flex-column, p {
    text-align: left;
    margin-bottom: 20px;
}

p {
    padding: 20px 20px 0;
    margin: 0;
}

a {
    font-style: none;
    color: black;
}